<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://code.alibabatech.com/schema/dubbo
         http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!--服务提供者：应用名称-->
    <dubbo:application name="dataservice" />
    <!--配置zookeeper注册中心-->
    <dubbo:registry protocol="zookeeper" address="127.0.0.1:2181" />
    <!--产品种类业务-->
    <dubbo:service interface="com.ps.service.product.ProductCategoryInfoService" ref="productCategoryInfoServiceImpl" version="1.0.0" timeout="15000" />
    <!--产品信息业务-->
    <dubbo:service interface="com.ps.service.product.ProductInfoService" ref="productInfoServiceImpl" version="1.0.0" timeout="15000" />
</beans>